.forget-password-title {
  position: absolute;
  text-align: center;
  right: 6.25%;
  left: 6.25%;
  height:30px;
  font-size: 15px;
  font-weight:bold;
}

.forget-password-title.header-title {
  top: 40px;
}

.forget-password-title.footer-title {
  top: 185px;
}

.forget-password-input-field {
  position: absolute;
  border-bottom: 1px solid #993399;
  right: 8%;
  left: 8%;
  height: 44px;
  background-color: transparent;
}

.forget-password-input-field.new-password {
  top: 74px;
}

.forget-password-input-field.confirm-password {
  top: 125px;
}

.forget-password-input-field.input-field {
  position: absolute;
  top: 0px !important;
  bottom: 1px !important;
  left: 1px !important;
  right: 1px !important;
  font-size: 15px !important;
  background-color: transparent;
}

.forget-password-submit-button {
  position: absolute;
  top: 225px;
  left: 8%;
  right: 8%;
  height: 48px;
  background-color: #993399;
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
}

.forget-password-submit-button-title {
  position: relative;
  top: 14px;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  display: block;
}
