.ele-mem-detail-topimage{
	width:100%;
	height: 240px;
	background-color: yellow;
}
.ele-mem-detail-time{
	position: relative;
	top: 25px;
	left: 15px;
	right: 15px;
	display: block;
	width: 100%;
	padding-bottom: 19px;
	border-bottom: 2px solid #993399;
	font-size: 17px;
	color: #191b22;
	font-variant: bold;
}