.bar_design{
  height:44px;
  background-color:rgba(240,240,240,0);
}

.setting_button{
	position:absolute;
	top:10px;
	left:20px;
	width:25px;
}

.title-center{
  color: white;
  font-weight:bold !important;
}

.email_button{
	position:absolute !important;
	top:10px;
	right:20px;
	width:25px;
}

.content_all{
	top:0 !important;
}

.welcome_div{
	position:relative;
}

.welcome_bak{
	height:auto;
	width:100%;
	position:absolute;
}

.welcome_icon{
	height:62px;
	width:285px;
	position:absolute;
	left:45px;
	top:160px;
}

.welcome_font{
	position:absolute;
	top:250px;
	left:55px;
	font-size:15px;
	color:#ffffff;
}

.welcome_into_content{
	position:absolute;
	background-color:rgba(240,240,240,0);
	top:532px;
	left:145px;
}

.welcome_into{
	font-size:24px;
	font-weight:bold;
	color:#ffffff;
}

.welcome_btn1{
	color:#ffffff;
	font-size:28px;
	position:relative;
	top:3px;
	left:5px;
}

.welcome_btn2{
	color:#ffffff;
	font-size:28px;
	position:relative;
	top:3px;
	left:2px;
}

.bar-header {
    top: 0;
    background-size: 0px;
}

