
<ion-nav-bar class="bar-stable">
  <!--<ion-nav-back-button></ion-nav-back-button>-->
</ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- VIP members center Tab href="#/main.news"-->
  <ion-tab title="會員資訊" icon-off="bar-icon member-off" icon-on="bar-icon member-on" href="#/main/members">
    <ion-nav-view name="vipcenter" animation="slide-left-right"></ion-nav-view>
  </ion-tab>

  <!-- Delicious food Tab href="#/main/food"-->
  <ion-tab title="美食管家" icon-off="bar-icon food-off" icon-on="bar-icon food-on" href="#/main/food">
    <ion-nav-view name="deliciousfood" animation="slide-left-right"></ion-nav-view>
  </ion-tab>

  <!-- Stores Tab href="#/main/store"-->
  <ion-tab title="商店指南" icon-off="bar-icon store-off" icon-on="bar-icon store-on" href="#/main/store">
    <ion-nav-view name="stores" animation="slide-left-right"></ion-nav-view>
  </ion-tab>

  <!-- Contact us Tab href="#/main/contact_us"-->
  <ion-tab title="聯絡我們" icon-off="bar-icon contact-off" icon-on="bar-icon contact-on" href="#/main/contact_us">
    <ion-nav-view name="contactus" animation="slide-left-right"></ion-nav-view>
  </ion-tab>

</ion-tabs>
